<div class="me-5">
    <svg width="16" height="34" viewBox="0 0 16 34" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.04697 22.9093L8.35322 23.6031C8.05947 23.8968 7.58447 23.8968 7.29385 23.6031L1.21885 17.5312C0.925098 17.2375 0.925098 16.7625 1.21885 16.4718L7.29385 10.3968C7.5876 10.1031 8.0626 10.1031 8.35322 10.3968L9.04697 11.0906C9.34385 11.3875 9.3376 11.8718 9.03447 12.1625L5.26885 15.75H14.2501C14.6657 15.75 15.0001 16.0843 15.0001 16.5V17.5C15.0001 17.9156 14.6657 18.25 14.2501 18.25H5.26885L9.03447 21.8375C9.34072 22.1281 9.34697 22.6125 9.04697 22.9093Z" fill="#6057EE" />
    </svg>
</div>