<!--Profile Data (Image, Name, Profile and Entity)-->

<div class="profile-image me-2">
    <img class="rounded-circle" src="Images/Avatar.png" alt="Profile Avatar" />
</div>
<div class="profile-description ms-2">
    <p class="mb-0 person-name">Erik Frings</p>
    <div class="profile-details d-flex">
        <span class="me-1">Perfil 1</span>
        <span class="mx-3">-</span>
        <span>Entidade 0</span>
    </div>
</div>
